*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #090979;
    background: linear-gradient(90deg, rgba(9, 9, 121, 1) 40%, rgb(47, 79, 111) 59%, rgba(0, 255, 195, 1) 96%);
    min-height: 100px ;
    color: rgb(255, 255, 255);
    position: relative;
    z-index: 4;
    font-family: "Roboto", sans-serif;
}
#particles-js{
    position: absolute;
    width: 100%;
    height: 100%;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 5px ; 
    
}
/*-------------header-----------------------------------------*/   
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 40px;
    font-weight: 500px;
    background: linear-gradient(to right, #9932CC, #FF69B4);
    background-clip: text;
    color: transparent;
}
nav ul{
    display: flex;
    gap: 25px ;
    list-style: none;
}

nav a{
    text-decoration: none;
    color: white;
}

.button{
    background-color: rgb(93, 93, 148);
    color: rgb(232, 165, 165);
    padding: 10px 20px ;
    border-radius: 50px;
    border: none;
    outline: none;
}
.bar{
    display: none;

    font-size: 30px;
    cursor: pointer;
    color: #9932CC;
}
.button span{
width: 700;
}
/*----------------------------header------------------------------------*/
main{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.content > h1{
    font-size: 65px;
    
}
.content > h1 > span{
    background: linear-gradient(to right, #9932CC, #FF69B4);
   background-clip: text;
   color: transparent;
}

.content p:first-child{

    
}
.box-img{
    width: 50%;
    background-color: rgb(81, 143, 155);
    display: flex;
    align-items: center;
    justify-content: center;
}
.box-img > img{
    width: 200;
    object-fit: contain;
    
}
.button-wrapper{
    display: flex;
    gap: 10px;
    align-items: center;

}
.button-wrapper > .button--read {
color: #9932CC;
padding: 12px 25px;
background-color: transparent;
border: 25px;
outline: none;
border: 1px #FF69B4 solid;
position: relative;
}
.button-wrapper > .button--start:hover::before {
    transform: translateY(-5px);
    transition: all 0.2s ease-in ;
}


.button-wrapper >.button--read::before{
 content: "";
 position: absolute;
}
.button-wrapper>.button--read:hover::before{
    width: 100%;
}
/*@media only screen and (max-width:900px){
    main{
        display: none;
    }
}*/
@media(max-width: 900px){
    .container header nav,
    .container header .button{
        display: none;
    }
    .bar{
        display:block;
    }
    main{
        flex-wrap: wrap-reverse;
        justify-content: center;
        align-items: center;
        gap: 40px;

    }
    .content{
        justify-content: center;
        align-items: center;
    }
}
@media (max-width:510) {
    .content h1{
        font-size: 45px;
        white-space:nowrap;

    }
    .img_container img{
        width: 300px;
        height: 300px;
    }
    
}
